<html>
	<head>
		<title>Login</title>
	</head>
	<body>
		<h1>CIC Login</h1>
		<form action="/login" method="POST" enctype="application/www-form-urlencoded">
			<label for="username">Username</label>
			<input type="text" name="username" id="username" />
			<label for="password">Password</label>
			<input type="password" name="password" id="password" />
			<input type="submit" name="submit" value"Log in" />
			<input type="hidden" name="client_id" valud="{{ client_id_hidden }}" />
			<input type="hidden" name="client_id" valud="{{ client_nonce_hidden }}" />
		</form>
	</body>
</html>
